input {
	background-color: white;
	border-color: #666;
	border-width: 1px;
	border-style: solid;
}

.sortable-placeholder {
	background-color: #F7B64B;
	height: 2.5em;
	line-height: 2.2em;
}

.sortable-outline {
	border-color: #ccc;
	border-style: dashed;
	border-width: 1px;
	margin-top: 5px;
	padding-left: 10px;
}


.photo-gallery ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.photo-gallery ul li {
	display: table;
	border: 1px solid #D0D0D0;
	line-height: 0;
	float: left;
	overflow: hidden;
	position: relative;
}

.photo-gallery ul a {
	top: 50%;
	display: table-cell;
	outline: none;
	position: static;
	vertical-align: middle;
	text-decoration: none;
	color: #D0D0D0;
}

.photo-gallery ul img {
	outline: none;
	border: none;
}



h2 .editsection {
	font-size: 80%;
}

h2 {
	border-bottom: 1px solid #AAA;
	padding-top: 10px;
}
.editsection {
	float: right;
	margin-left: 5px;
	font-weight: normal;
}

.loading-modal {
	background-color:#fff;
	display:none;
	width:350px;
	padding:15px;
	text-align:center;
	border:2px solid #333;
	z-index: 100000;

	opacity:1;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}

/* scrollable root element */
#wizard {	
	font-size:12px;
	height:500px;
	margin:auto;	
	width:100%;
	overflow-y: auto;
	overflow-x: hidden;
	position:relative;
	
	/* rounded corners for modern browsers */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}  

/* scrollable items */
#wizard .items {
	width:20000em;	
	clear:both;	
	position:absolute;	
}

/* single item */
#wizard .page {	

	width:800px;
	float:left;	
}


tr.error-row {
	background-color: #ffAAAA;
}

.error-field {
	background-color: #ffAAAA;
}

.error-field input {
	background: #ffAAAA;
}

tr.error-row td.sorting_1 {
	background-color: #ffAAAA;
}



/* simple css-based tooltip */
.tooltip {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:400px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;
	z-index:10000;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}

/* simple css-based tooltip */
.tooltip-two {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:140px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:14px;
	z-index:10000;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}

/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip-arrow-black {
	display:none;
	background: transparent url(../icons/tooltip/black_arrow.png);
	font-size:14px;
	font-weight: bold;
	height:70px;
	width:160px;
	padding:25px;
	color: white;	
}

.tooltip-arrow-white {
	display:none;
	background: transparent url(../icons/tooltip/white_arrow.png);
	font-size:14px;
	height:70px;
	width:160px;
	padding:25px;
	color:#000;	
}



div.form-ok {
	background-color: #90EE90;
	border-style: dashed;
	border-width: 1px;
	border-color: #666666;
	margin-bottom: 10px;
}

div.form-error {
	background-color: #F08080;
	border-style: dashed;
	border-width: 1px;
	border-color: #666666;
	margin-bottom: 10px;	
}

div.row {
  clear: left;
  padding-top: 5px;
  }

div.row span.label {
  float: left;
  width: 40%;
  text-align: right;
  }

div.row span.formw {
  float: right;
  width: 60%;
  text-align: left;
  }

div.row span.labelfull {
  float: left;
  width: 20%;
  text-align: right;
  }

div.row span.labelfullleft {
  float: left;
  width: 20%;
  text-align: left;
  }
  
div.row span.formfull {
  float: right;
  width: 80%;
  text-align: left;
  }

div.row span.left {
  float: left;
  width: 50%;
}

div.row span.right {
  float: right;
  width: 50%;
}

div.row div.leftfixed {
  text-align: left;
  width: 300px;
  float: left;
}

div.row div.rightfixed {
  text-align: left;
  width: 300px;
  float: right;
}

div.spacer {
  margin-top: 10px;
}

div#navigation {
	width:100%;
	background-color: #EEEEEE;
}

div#header {
	/* width:800px; */
	background-color: #FFFFFF; 

	
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-style: solid;
	border-width: 1px;
	/*border-color: #FFFFFF;*/
	border-color: #666666;
}	
div#content {
	/* width:800px; */
	background-color: #FFFFFF; 

	padding-left: 10px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 55px;
	border-style: solid;
	border-width: 1px;
	/*border-color: #FFFFFF;*/
	border-color: #666666;
}
div#footer {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	
	padding-left: 10px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-style: solid;
	border-width: 1px;
	/*border-color: #FFFFFF*/
	border-color: #666666;

	text-align: right;
}

div#lastfooter {
  text-align: right;
  color: #AAAAAA;
  font-size: x-small;
}

#lastfooter a {
  text-decoration: underline;
  color: #AAAAAA;
}


body {
	
	font: 80.5% "Trebuchet MS", sans-serif;
	
	/*font-family: Cantarell,"Droid Sans",Verdana,sans-serif;
	font-size: 75.5%;*/
	/*margin: 50px;*/
	background-color: #CCCCCC;
}

#navbar ul {
  list-style: none;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  display:inline;
}

#navbar li {
  display:inline;
  margin-left: 1px;
  margin-right: 1px;
}

#navbar a {
  text-decoration: none;
  /*color: #0077CC;*/
  color: black;
  font-weight: bold;
}

div#navbar {
  /*background-color: #EEE;*/
  background-color: #F7B64B;
  padding-left: 0px;
  padding-right: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
  border-top: none;
}

#navbar div {
  margin-top: 0;
  padding-left: 0px;
  margin: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-right: 1px solid #666666;
  background-color: #F7B64B;
}

a.recipe {
  text-decoration: underline;
  color: #000000;
}

a.boring {
  text-decoration: none;
  border-style: none;
  outline-style: hidden;
  border: none;
  outline: none;
  color: #000000;
}

img.boring {
  border: none;
  outline: none;
}

/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1 {
	width:40px;
}

.container_16 .grid_2 {
	width:100px;
}

.container_16 .grid_3 {
	width:160px;
}

.container_16 .grid_4 {
	width:220px;
}

.container_16 .grid_5 {
	width:280px;
}

.container_16 .grid_6 {
	width:340px;
}

.container_16 .grid_7 {
	width:400px;
}

.container_16 .grid_8 {
	width:460px;
}

.container_16 .grid_9 {
	width:520px;
}

.container_16 .grid_10 {
	width:580px;
}

.container_16 .grid_11 {
	width:640px;
}

.container_16 .grid_12 {
	width:700px;
}

.container_16 .grid_13 {
	width:760px;
}

.container_16 .grid_14 {
	width:820px;
}

.container_16 .grid_15 {
	width:880px;
}

.container_16 .grid_16 {
	width:940px;
}



/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .prefix_1 {
	padding-left:60px;
}

.container_16 .prefix_2 {
	padding-left:120px;
}

.container_16 .prefix_3 {
	padding-left:180px;
}

.container_16 .prefix_4 {
	padding-left:240px;
}

.container_16 .prefix_5 {
	padding-left:300px;
}

.container_16 .prefix_6 {
	padding-left:360px;
}

.container_16 .prefix_7 {
	padding-left:420px;
}

.container_16 .prefix_8 {
	padding-left:480px;
}

.container_16 .prefix_9 {
	padding-left:540px;
}

.container_16 .prefix_10 {
	padding-left:600px;
}

.container_16 .prefix_11 {
	padding-left:660px;
}

.container_16 .prefix_12 {
	padding-left:720px;
}

.container_16 .prefix_13 {
	padding-left:780px;
}

.container_16 .prefix_14 {
	padding-left:840px;
}

.container_16 .prefix_15 {
	padding-left:900px;
}



/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .suffix_1 {
	padding-right:60px;
}

.container_16 .suffix_2 {
	padding-right:120px;
}

.container_16 .suffix_3 {
	padding-right:180px;
}

.container_16 .suffix_4 {
	padding-right:240px;
}

.container_16 .suffix_5 {
	padding-right:300px;
}

.container_16 .suffix_6 {
	padding-right:360px;
}

.container_16 .suffix_7 {
	padding-right:420px;
}

.container_16 .suffix_8 {
	padding-right:480px;
}

.container_16 .suffix_9 {
	padding-right:540px;
}

.container_16 .suffix_10 {
	padding-right:600px;
}

.container_16 .suffix_11 {
	padding-right:660px;
}

.container_16 .suffix_12 {
	padding-right:720px;
}

.container_16 .suffix_13 {
	padding-right:780px;
}

.container_16 .suffix_14 {
	padding-right:840px;
}

.container_16 .suffix_15 {
	padding-right:900px;
}



/* Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .push_1 {
	left:60px;
}

.container_16 .push_2 {
	left:120px;
}

.container_16 .push_3 {
	left:180px;
}

.container_16 .push_4 {
	left:240px;
}

.container_16 .push_5 {
	left:300px;
}

.container_16 .push_6 {
	left:360px;
}

.container_16 .push_7 {
	left:420px;
}

.container_16 .push_8 {
	left:480px;
}

.container_16 .push_9 {
	left:540px;
}

.container_16 .push_10 {
	left:600px;
}

.container_16 .push_11 {
	left:660px;
}

.container_16 .push_12 {
	left:720px;
}

.container_16 .push_13 {
	left:780px;
}

.container_16 .push_14 {
	left:840px;
}

.container_16 .push_15 {
	left:900px;
}



/* Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .pull_1 {
	left:-60px;
}

.container_16 .pull_2 {
	left:-120px;
}

.container_16 .pull_3 {
	left:-180px;
}

.container_16 .pull_4 {
	left:-240px;
}

.container_16 .pull_5 {
	left:-300px;
}

.container_16 .pull_6 {
	left:-360px;
}

.container_16 .pull_7 {
	left:-420px;
}

.container_16 .pull_8 {
	left:-480px;
}

.container_16 .pull_9 {
	left:-540px;
}

.container_16 .pull_10 {
	left:-600px;
}

.container_16 .pull_11 {
	left:-660px;
}

.container_16 .pull_12 {
	left:-720px;
}

.container_16 .pull_13 {
	left:-780px;
}

.container_16 .pull_14 {
	left:-840px;
}

.container_16 .pull_15 {
	left:-900px;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}