div.row {
  clear: left;
  padding-top: 5px;
  }

div.row span.label {
  float: left;
  width: 40%;
  text-align: right;
  }

div.row span.formw {
  float: right;
  width: 60%;
  text-align: left;
  }

div.row span.labelfull {
  float: left;
  width: 20%;
  text-align: right;
  }
  
div.row span.formfull {
  float: right;
  width: 80%;
  text-align: left;
  }

div.row span.left {
  float: left;
  width: 50%;
}

div.row span.right {
  float: right;
  width: 50%;
}

div.row span.leftfixed {
  float: left;
  width: 200px;
}

div.row span.rightfixed {
  float: right;
  width: 200px;
}


div#header {
	width:800px;
	background-color: #FFFFFF; 
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 10px;
	
	padding-left: 10px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
}			
div#main {
	width:800px;
	background-color: #FFFFFF; 
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
}
div#footer {
	width:800px;
	background-color: #FFFFFF; 
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 10px;
	
	padding-left: 10px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;

	text-align: right;
}

body {
	font: 75.5% "Trebuchet MS", sans-serif;
	margin: 50px;
	background-color: #CCCCCC;
}
